name: Publish master barnch

on: 
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - uses: actions/setup-node@v1
      with:
        registry-url: 'https://registry.npmjs.org'
    - name: Build
      run: npm i && npm run build
    - uses: HairyRabbit/actions/release-master@latest
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
